@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    color: aliceblue;

}

body{
    background-image: url(assets/img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p{
    font-family: "Playwrite US Modern", cursive;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: aqua ;
    position: relative;
    top: 20px;
    margin-left: 20px;
}

#box2{
    height: 150px;
    width: 150px;
    background-color: darkmagenta ;
    position: sticky;
    bottom: 10px;
    left: 5px;
    border-radius: 50%;
    z-index: -1;
}