@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    color: aliceblue;

}

body{
    background-image: url(assets/img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p{
    font-family: "Playwrite US Modern", cursive;
}